body {
  font-family:Serif;
  font-size:2.5em;
}
pre, code {
  font-size:30px;
}
a:link, a:visited { color:#0484a9; }
a:hover { color:#f57422; }

cite {
  font-size: 25px;
}

li a {
  display: block;
  margin-bottom: 20px;
}

#lambda {
  opacity: .075;
  color: #00af85;
  position: fixed;
  bottom: 0px;
  right: 20px;
  font-size: 250px;
}
